<section>
 <div class="container">
  <div class="content">
    <img src="assets/images/personas-saludando.png" alt="Bienvenida" class="image" />

    <h1>¡Te damos la bienvenida a <br /><strong>Banco Azteca!</strong></h1>

    <p class="subtitle">
      Usa tu préstamo como dinero en efectivo<br />
      o compra en donde quieras.
    </p>

    <label for="nombre">¿Cómo prefieres que te llamemos?</label>
    <input type="text" id="nombre" maxlength="15" placeholder="Escribe tu nombre" />

    <div class="counter">0/15 caracteres</div>

    <button disabled>Comenzar</button>
  </div>
</div>

</section>
