<section>
  <div class="container">
    <div class="content">
      <img src="assets/images/personas-saludando.png" alt="Bienvenida" class="image" />
      <h1>¡Te damos la bienvenida a <br /><strong>Banco Azteca!</strong></h1>
      <p class="subtitle">
        Usa tu préstamo como dinero en efectivo<br />
        o compra en donde quieras.
      </p>
      <form [formGroup]="nameForm">
        <label for="nombre">¿Cómo prefieres que te llamemos?</label>
        <div class="input-group">
          <input type="text" id="nombre" readonly formControlName="name" (keypress)="allowAlphaNumericOnly($event)"
            maxlength="15" placeholder="Escribe tu nombre" />

          <i class="fas fa-microphone" (click)="startRecording()" *ngIf="!isUserSpeaking"></i>
          <i class="fas fa-microphone-slash" (click)="stopRecording()" *ngIf="isUserSpeaking"></i>

        </div>
        <div class="error-message" *ngIf="nameForm.controls['name'].invalid && nameForm.controls['name'].touched">
          <i class="fas fa-exclamation-triangle"></i>
          El nombre debe contener entre 3 y 15 caracteres alfanuméricos.

        </div>
        <div class="counter">{{ nameForm.get('name')?.value?.length || 0 }}/15 caracteres</div>
      </form>

      <button class="button" (click)="validateForm()">Comenzar</button>

     <div *ngIf="encryptedText != ''">


      <div class="result">
        <div class="flex">
          <label for="nombre">Resultado cifrado</label>
          <button class="copy-button" (click)="copyToClipboard()">
            <i class="fas fa-copy"></i> Copiar
          </button>

        </div>
        <p class="cipher-text">{{ encryptedText }}</p>

      </div>

      <label for="cipherInput">Pega la cadena cifrada:</label>
      <div class="input-group">
        <input id="cipherInput" class="input-group" type="text" [(ngModel)]="cipherInput"
          placeholder="Ingresa la cadena cifrada aquí" />

        <button class="decrypt-button" (click)="decryptName()">
          <i class="fas fa-lock-open"></i> Desencriptar
        </button>
      </div>

      <div *ngIf="decryptedText">
        <p><strong>Texto desencriptado:</strong> {{ decryptedText }}</p>
      </div>
 </div>

    </div>
  </div>

</section>
